[submodule "/home/kenobi/.vim/pack/git-plugins/start/al"]
	path = /home/kenobi/.vim/pack/git-plugins/start/al
	url = https://github.com/dense-analysis/ale.git
[submodule "/home/kenobi/.vim/pack/git-plugins/start/ale"]
	path = /home/kenobi/.vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
